body {
    height: 100vh;
    background: linear-gradient(to right, #fc0484, #c300ff, #00ff73);
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;


}

#master {
    display: grid;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);


    padding: 30px;
    box-shadow: 10px 10px 30px #000000,
        -10px 10px 30px #000000,
        -10px -10px 30px #000000,
        10px -10px 30px#000000;

}

#segment_01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    width: 500px;
    border-radius: 10px;
}

#title {

    font-family: sans-serif;
    color: white;
    position: relative;
    left: 10px;
}

#img {
    height: 60px;
    width: 70px;
    border-radius: 30px;

}

#segment_02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    width: 500px;
    border-radius: 10px;
}

#input_box {
    height: 35px;
    display: flex;
    flex-grow: 0.9;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    outline: none;
    border-radius: 10px;

}

#btn {
    height: 35px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}



li {
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: relative;

    padding: 12px 8px 12px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;


}

ul li::before {
    content: "";
    height: 30px;
    width: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    border-radius: 10px;
    cursor: pointer;


}




.checkmate {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
    cursor: pointer
}


ul li.checkmate::before {
    background-image: url(tick.jpeg);
    background-size: cover;
}

ul li span {
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    /* font-size: 25px; */
    color: black;
    /* padding-left:3px;
    padding-right: 3px; */
    padding: 3px;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;

}

ul {
    padding-left: 10px;
}

ul li span:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;

}