* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e1115;
    height: 100vh;
    width: 100vw;

}

#master_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #171b23;
    border: 2px solid rgb(123, 109, 109);
    margin: 20px;
    padding: 20px;
    z-index: 5;
    box-shadow: 5px 5px 10px #f8fafc,
        -5px 5px 10px #f8fafc,
        -5px -5px 10px #f8fafc,
        5px -5px 10px#f8fafc;
}

#heading_text {
    color: #0fd5da;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
}

#heading_text_02 {
    color: #57667a;
    font-size: 30px;
    margin: 20px;
}

#input_area {
    height: 50px;
    width: 500px;
    font-weight: 40px;
    font-size: 20px;
    padding-left: 10px;
    border: none;
    margin: 20px;
}

#input_area:focus {
    border: 2px solid red;
}

#ima {
    height: 250px;
    width: 250px;
    margin: 20px;
}

#space_for_code {
    display: flex;
    align-items: center;
    justify-content: center;


}



/* button{
background-color: #0fd5da;
color:#171b23;
width:150px;
height:50px;
font-size:20px;
align-self: center;
transition:all;
border-radius:10px;

} */

.diva {
    height: 60px;
    width: 200px;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: aliceblue;
    position: relative;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;


}

.diva:hover {
    color: #0fd5da;
    cursor: pointer;


}

/* //you need to align the after box , because by default it sets to auto  */
/* top: 50%;
left: 50%;
translate: -50% -50%;
done to center only */

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* a linear gradient moves in one perticular direction and a conic gradient moves in conical direction to smoothen you can repeat first color in end also */
.diva::after,
.diva::before {

    /* normally you cannot add add transitions to borders  so create custom variable */
    /* --angle:0deg; */
    content: "";
    /* background-color:red;  or you can also give conic gradient*/
    /* background-image: linear-gradient(to top,red,blue); */
    background-image: conic-gradient(from var(--angle), transparent 40%, #0fd5da, rgb(253, 253, 253), #0fd5da, rgb(255, 255, 255));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    translate: -50% -50%;
    border-radius: 10px;
    padding: 3px;
    animation: 3s spin linear infinite;
}

/* do same for before also */

.diva::before {

    /* add this extra property */
    filter: blur(1.5rem);
    /* //to make element blur */
    opacity: 0.5;
    /* to control transparency */
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.alert {
    color: rgb(196, 66, 30);
    font-size: 20px;
    font-weight: 600;

}


/* //mediaqueries  */

@media(max-width:650px) {
    #heading_text {

        font-size: 25px;

    }

    #heading_text_02 {
        color: #57667a;
        font-size: 25px;
        margin: 20px;
    }

    #input_area {
        height: 50px;
        width: 200px;

        padding-left: 10px;
        border: none;
        align-self: center;
    }

    .diva {
        height: 60px;
        width: 150px;
        text-align: center;
        padding: 20px;
        background-color: black;
        color: aliceblue;
        position: relative;
        border-radius: 10px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;


    }

    #ima {
        height: 200px;
        width: 200px;
        margin: 20px;
    }
        #master_container {
          padding-left:40px;
          padding-right:40px;
        }

}

@media(max-width:470px) {
    #heading_text {

        font-size: 20px;

    }

    #heading_text_02 {
        font-size: 20px;
        text-align:center;
    }

    #input_area {
        height: 50px;
        width: 200px;

        padding-left: 10px;
        border: none;
        align-self: center;
    }

    .diva {
        height: 60px;
        width: 150px;
        text-align: center;
        padding: 20px;
        background-color: black;
        color: aliceblue;
        position: relative;
        border-radius: 10px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;


    }

    #ima {
        height: 200px;
        width: 200px;
        margin: 20px;
    }

    #master_container {
        padding-left: 20px;
        padding-right: 20px;
    }

}